*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Bright','Georgia', 'serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #d1e8e2;
    color: #116466;
}
#header{
    width: 100%;
    height: 100vh;
    /*background-image: url(images/portrait.PNG);*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    width: 100%;
    height: 100vh;
}
.largecontainer{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
/* slides */
.slides{
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}
/* start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    text-align: right;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #116466;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFCB9A;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    text-align: left;
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #d1e8e2;
    text-shadow: -1px -1px 0 #116466, 1px -1px 0 #116466, -1px 1px 0 #116466, 1px 1px 0 #116466;
}

/* about me */
/*#about{
    padding: 80px 0;
    color: #116466;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    opacity: 0.8;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #116466;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #116466;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #2c3531;
    font-size: 14px;
}
.tab-contents{
    display: none;

}

.tab-contents.active-tab{
    display: block;
}
 */ 

 .highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

  .experience {
    float:left;
    position:relative;
    font-weight:300;
    min-height:100%;
    min-height:100vh;

    .subsub-text{
        font-size: 10px;
        margin-bottom: 50px;
    }
    h3.experience-title {
      text-align:left;
      text-transform:uppercase;
      font-size:1.2em;
      margin-bottom:20px;
      font-weight:400;
      color: #2c3531;
    }
    .blank-link, .blank-link:visited{
        text-decoration: none;
        color: #2c3531;
    }
    .company-wrapper {
      width:30%;
      float:left;
      text-align:left;
      padding-right:5%;
      margin-bottom:60px;
    }
    .job-wrapper {
      width:70%;
      float:left;
      text-align:left;
      padding-right:5%;
      margin-bottom:60px;
    }
    .experience-title {
        color:#2c3531;
        margin-bottom:15px;;
      }
    .section-padding {
    padding:60px 60px 40px 40px;
    }
  }
  
  .section-wrapper {
    width:50%;
    float:left;
    text-align:left;
    font-weight:300;
    margin-bottom:20px;
    &:nth-child(3){ 
      padding-right:8%;
    }
    h3.section-title {
      text-align:left;
      text-transform:uppercase;
      font-size:1.2em;
      margin-bottom:20px;
      font-weight:400;
      color: #2c3531;
    }
    .skill-percentage {
      margin-bottom:10px;
      margin-right: 25px;
      position:relative;
      &::after {
        content:"";
        width:100%;
        height:6px;
        background: #116466;
        display:block;
        margin-top:3px;
      }
      &::before{
        content:"";
        height:6px;
        background: #ffcb9a;
        position:absolute;
        margin-top:3px;
        bottom:0;
      }
      &:nth-child(1)::before {width:85%;animation: skill_1 0.6s ease;}
      &:nth-child(2)::before {width:60%; animation: skill_2 0.6s ease;} 
      &:nth-child(3)::before {width:40%;animation: skill_3 0.6s ease;}
      &:nth-child(4)::before {width:50%;animation: skill_4 0.6s ease;}
      &:nth-child(5)::before {width:80%;animation: skill_5 0.6s ease;}
      &:nth-child(6)::before {width:70%;animation: skill_6 0.6s ease;}
      &:nth-child(7)::before {width:60%;animation: skill_6 0.6s ease;}
      &:nth-child(8)::before {width:50%;animation: skill_3 0.6s ease;}
      &:nth-child(9)::before {width:75%;animation: skill_4 0.6s ease;}
      &:nth-child(10)::before {width:60%;animation: skill_5 0.6s ease;}
      &:nth-child(11)::before {width:60%;animation: skill_6 0.6s ease;}
      &:nth-child(12)::before {width:50%;animation: skill_6 0.6s ease;}
    }
    @keyframes skill_1 {from {width:0%;}to {width:85%;}}
    @keyframes skill_2 {from {width:0%;}to {width:60%;}}
    @keyframes skill_3 {from {width:0%;}to {width:40%;}}
    @keyframes skill_4 {from {width:0%;}to {width:50%;}}
    @keyframes skill_5 {from {width:0%;}to {width:80%;}}  
    @keyframes skill_6 {from {width:0%;}to {width:70%;}}
    @keyframes skill_7 {from {width:0%;}to {width:60%;}}
    @keyframes skill_8 {from {width:0%;}to {width:50%;}}
    @keyframes skill_9 {from {width:0%;}to {width:75%;}}
    @keyframes skill_10 {from {width:0%;}to {width:60%;}}  
    @keyframes skill_11 {from {width:0%;}to {width:60%;}}
    @keyframes skill_12 {from {width:0%;}to {width:50%;}}
    
  }
/* spacer */
#spacer{
    height: 150vh;
}
/* ----------------services-------------- */
#services{
    padding: 30px 0;
}

.sub-title-services{
    left: none;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background: #ffcb9a;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #2c3531;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #d9b08c;
    transform: translateY(-10px);

}
/*---------portfolio-------*/
/*#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255,203, 153, 0.6), #d1e8e2);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #116466;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffcb9a;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #116466;
    transition: background 0.5s;
}
.btn:hover{
    background: #ffcb9a;
}

/*contact*/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;   
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ffcb9a;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #116466;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ffcb9a;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ffcb9a;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffcb9a;
    padding: 15px;
    margin: 15px 0;
    color: #116466;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #ffcb9a;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #880808;
}
/* css for small screens */

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ffcb9a;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}